.sidebar-logo {
  display: none;
  max-height: 100px;
  margin: 0 auto;
}

@media (min-width: 48em) {
  .sidebar-logo {
    max-height: 100px;
    margin: 0 0;
  }
}

.social a {
    color: lightgrey;
}

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    }
  }

  .sidebar {
    background-color: #111;
  }